<%- include('header'); -%>
    <h1><%= brand.name %></h1>
    <div style='margin-left:20px;margin-top:20px'>

    <h4>Pants</h4>
    <dl>
    <%
        brand_pants.forEach(function(pant) { %>
            <dt>
                <a href="<%=pant.url%>"> <%=pant.name%> </a>
                <dd> <%=pant.desc%></dd>
            </dt>
        <% });
    %>
    </dl>

    <h4>Shirts</h4>
    <dl>
        <%
        brand_shirts.forEach(function(shirt) { %>
            <dt>
                <a href="<%=shirt.url%>"> <%=shirt.name%> </a>
                <dd> <%=shirt.desc%></dd>
            </dt>
        <% });
    %>
    </dl>
    <a href="<%=brand.url + '/delete'%>">Delete</a>
    </div>

<%- include('footer'); -%>