<%- include('header'); -%>
    <h1> <%= shirt.name %> </h1>
    <p> <%= shirt.desc %></p>
    <p> Marcas: 
        <ul>
        <% 
            shirt.brand.forEach(function(brand) { %> 
                <li> <a href="<%= brand.url %>"><%= brand.name %></a></li>
            <% });
        %>
        </ul>
    </p>
    <p> Talle: <a href="<%=shirt.size.url%> "> <%= shirt.size.name %> </a></p>
    <p> Stock: <%= shirt.stock %></p>
    <a href="<%=shirt.url + '/delete'%>">Delete</a>

<%- include('footer'); -%>