<%- include('header'); -%>
    <%= title %> 
    <ul>
        <%
            size_list.forEach(function(size) { %>
                <li> <a href="<%= size.url %>"><%= size.name %></a></li>
            <% });
        %>
    </ul>

<%- include('footer'); -%>
